@page "/present-value"
@using static Parsing;
@using static Compounding;

<PageTitle>
    Discounted.Cash: Present Value
</PageTitle>

<div class="alert alert-primary">
    <span class="fw-bold">
        Present Value
    </span>
    is the fair price for an investment that will
    pay back a known value
    after a known time.
</div>

<div class="row">
    <div class="col">
        To find it
        we must know:
        <ol>
            <li>
                The amount of the future cash payment that we will recieve
                <br />
                <span class="small">
                    This is usually called "Future Cash Flow"
                </span>
            </li>
            <li>
                The number of years we must wait until we receive the payment
            </li>
            <li>
                An alternative investment:
                The annual payment that we could receive in another
                completely safe investment.
                <br />
                <span class="small">
                    This is usually expressed as an annual interest rate.
                    It is called the "Risk Free Rate" and is used
                    as the "Discount Rate" in this formula.
                </span>
            </li>
        </ol>
    </div>
</div>

<div class="container text-center mb-3">
    <div class="col justify-content-center">
        <img src="/pv-formula.png" style="width: 100%; max-width: 609px" />
    </div>
</div>

<div class="row">
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="futureCashFlow" value="@futureCashFlow"
                   @oninput="ChangeFutureCashFlow">
            <label for="futureCashFlow">Future Cash Payment</label>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            <input type="number" class="form-control" id="periods" value="@periods"
                   @oninput="ChangePeriods">
            <label for="periods">Number of Years</label>
        </div>
    </div>
    <div class="col-12 col-md-3">
        <PercentRangeSlider Label="Discount Rate" @bind-Value="@discountRate" />
    </div>
    <div class="col-12 col-md-3">
        <div class="form-floating mb-3">
            <input class="form-control" id="presentValue" value="@PresentValueString" readonly>
            <label for="presentValue">Present Value</label>
        </div>
    </div>
</div>
<div class="row">
    <div class="col">
        You know a completely safe investment
        that can pay interest of
        @discountRate.ToString("P1")
        per year.
        <br />
        So a future payment
        of
        @futureCashFlow.ToString("C2")
        that you will receive in
        @periods years
        is worth no more than
        @PresentValueString today.
    </div>
</div>


<div class="alert alert-secondary me-5 mt-4">
    What about a growing investment that pays you every year over several years?
</div>
<a class="btn btn-primary btn-lg ms-5" href="/annuity?years=10">
    You can add up 10 years of cash flows on the next page!
    <span class="ms-1">
        &raquo;
    </span>
</a>

@code
{
    private double futureCashFlow = 10_000;
    private double periods = 10;
    private double discountRate = 0.05;

    private double PresentValue => Discount(futureCashFlow, periods, discountRate);
    private string PresentValueString => PresentValue.ToString("C2");

    private void ChangeFutureCashFlow(ChangeEventArgs e)
    {
        futureCashFlow = ToDouble(e.Value);
    }

    private void ChangePeriods(ChangeEventArgs e)
    {
        periods = ToDouble(e.Value);
    }
}
